.post {

	position: relative;
	margin-top: 2.5rem;

	.full-post-grid-link {
		position: absolute;
		height: 100%;
		width: 100%;
		top : 0;
		left : 0;
		z-index: 1;
	}

	header {

		.thumbnail-container {
			max-height: 128px;
    		overflow: hidden;
    		margin : 0 0 0.5rem 0;
			border-bottom: 6px solid $color-category-default;

		}

		.thumbnail-container::after {
			content : '';
			display: block;
			position: absolute;
			top: 0;
			left : 0;
			width: 26px;
			height: 26px;
			background : url('../images/thumbnail_corner.png') top left no-repeat;
			z-index: 100;
		}

		/* img {
			clip-path: polygon(26px 0, 100% 0, 100% 100%, 0 100%, 0 26px); 
			
		} */
		.categories {
			font-family: 'Farray';
			font-size: rem-calc(12);
	    	text-align: left;
	    	background : url('../images/slash.png') repeat-x center right;
	    	a {
	    		background-color: white;
	    		line-height: 1.5rem;
	    		padding: 0 0.6rem 0 0;
	    	}
		}

		.entry-title, .entry-title a {
		    font-family: Farray;
			font-size: rem-calc(17);
		    text-align: left;
		}

		.author {
			font-family: 'Courier Prime Sans';
			font-size: rem-calc(12);
			margin-bottom: 0;
    		padding-bottom: 0.4rem;
		}

/* 		.author.curation {
			color: #caa40e;
    		background-color: #f9fa96;
		} */
	}

	&.category-actualites header .thumbnail-container {
			border-bottom-color : $color-category-actu ;
	}

	&.category-communs-action header .thumbnail-container {
			border-bottom-color : $color-category-les-communs-en-action ;
	}

	&.category-debats header  .thumbnail-container {
			border-bottom-color : $color-category-debats;
	}

	&.category-recherches header  .thumbnail-container {
			border-bottom-color : $color-category-recherches;
	}

	.entry-content{
		font-family: Inder;
		font-size: rem-calc(13);
    	line-height: rem-calc(16);
    	letter-spacing: 0.4px;
    	text-align: left;

    	a {
    		background-color: #e4f9ff;
    		color : #5d7a82;
    		text-decoration: underline;

    	}

    	a:hover {
    		background-color: #effbff;
    		color : #418092;
    		text-decoration: underline;
    	}
	}

}



 .post.active-post {
	header{
		background-color: #fafb96;
	}

	img {
		opacity: 0.65;
			
	}

	.categories {
		background : url('../images/slash-active.png') repeat-x center right;
    	a {
    		color : #caa40e;
    		background-color: #fafb96;
    	}
	}

	.entry-title, .entry-title a {
	    color : #caa40e;
	}

	.author {
		color : #caa40e;
	}

	.author.curation {
		color: #caa40e;
	}

	.entry-content {
		background-color: #fafb96;
		color: #caa40e;
	}
} 