body {
	background: url('../images/fond_accueil.png') no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.separator {
	height: 15px;
	background: url('../images/slash.png') repeat-x;
	margin-bottom : 1rem;
}

.keyword {
    padding: 0.2rem;
    margin: 0 0.6rem 0 0 !important;
    background-color: $color-keyword-default;

	a {
		color: $color-keyword-font;
		font-size: rem-calc(12);	
	}
	
	
}

.archive .keyword {
	color: $color-keyword-font;
}

.pagination-centered {
    margin-top: 2rem;
}

.sidebar-about, .header-intro {
	.sharedaddy.sd-sharing-enabled {
	    display: none;
	}

}