#masonry-grid{
	@include grid-row;
	@include breakpoint(small) {
		@include grid-layout(1,'.block-item');		
	}
	@include breakpoint(medium) {
		@include grid-layout(2,'.block-item');
	}
	@include breakpoint(large) {
		@include grid-layout(3,'.block-item');
	}
}

