.desktop-menu {
	li {
		a {
			display: inline-block;
			font-family: Farray;
			font-size: rem-calc(14);
		    text-align: right;
		    position: relative;
		}

		a::before {
			content: ' ';
		    display: inline-block;
		    position: absolute;
		    z-index: -1;
		    height: 9px;
		    width: 125%;
		    background-color: $color-category-default;
		    right: 0;
		    bottom: 0;
		    
		}
	}

	li.cat-actu a::before {
		background-color: $color-category-actu;
	}

	li.cat-les-communs-en-action a::before {
		background-color: $color-category-les-communs-en-action;
	}

	li.cat-debats a::before {
		background-color: $color-category-debats;
	}

	li.cat-recherches a::before {
		background-color: $color-category-recherches;
	}
	
}

