.sidebar {
	.sidebar-content {
		.sidebar-logo{
			text-align: right;
			margin-top: 7rem;
			margin-bottom: 1rem;

		}

		.desktop-menu {
			margin-bottom: 1rem;
			.menu-item {
				text-align: right;
			}
		}

		.sidebar-about {
			h5,p {
				font-family: 'Courier Prime Sans';
				font-size: rem-calc(14);
				line-height: rem-calc(16);
				text-align: right;
			}

			h5 {
				font-weight: 900;
			}
		}
	}
	
}