/**************************/
/*Déclaration des polices */
/**************************/

@font-face {
    font-family: Farray;
    src: url('../fonts/FARRAY.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inder;
    src: url('../fonts/Inder-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Courier Prime Sans';
    src: url('../fonts/Courier Prime Sans.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Courier Prime Sans Italic';
    src: url('../fonts/Courier Prime Sans Italic.ttf');
    font-weight: normal;
    font-style: italic;
}
