/*******************************/
/* Code couleur des catégories */
/*******************************/

// Categorie par défaut
$color-category-default :#d3e6fa;

// Categorie Actu
$color-category-actu : #ff9366;

// Categorie En action
$color-category-les-communs-en-action : #ff7dc4;

// Categorie Débats
$color-category-debats : #ff6e8b;

// Categorie Recherche
$color-category-recherches : #80dcff;


/*******************************/
/* Code couleur des mot-cles */
/*******************************/

$color-keyword-font : #4457e4;
$color-keyword-default : $color-category-default ;
