#respond {

 	font-family: 'Courier Prime Sans';
    font-size: 0.75rem;	
    margin-top : 2rem;

    h3 {
		font-family: 'Courier Prime Sans';
    	font-size: 0.75rem;	    	
    }

    p {
    	margin-bottom: 0;
    }

    input, textarea, label {
    	border: 2px solid #a3d2df;
    	display: inline-block;
    	padding: 0 0.5rem;
    	font-size: 0.75rem;
    }

    label {
    	border-bottom: none;
    }

    input, textarea {
    	box-shadow: none;
    }

    input[type="submit"] {
    	background-color: #e4f9ff;
    	color : #5d7a82;
    	text-decoration: underline;
    	border: none;
    	padding: 0.2rem;

    }

    input[type="submit"]:hover {
    	background-color: #effbff;
    	color : #418092;
    } 

}