.widget_wysija {


    h1,h2,h3,h4,h5,h6,p {
		text-align: right;
	    font-family: 'Courier Prime Sans';
	    font-size: 0.875rem;
    }

    h6 {
    	font-weight: 600;
    }

    label {
    	border: 2px solid #a3d2df;
	    display: inline-block !important;
	    padding: 0 0.5rem;
	    font-size: 0.75rem;
	    border-bottom : none;
    }

    input {
    	border: 2px solid #a3d2df;
    	display: inline-block;
    	padding: 0 0.5rem;
    	font-size: 0.75rem;
    	margin-bottom: 0;
    }

    input[type="submit"] {
    	background-color: #e4f9ff;
    	color : #5d7a82;
    	text-decoration: underline;
    	border: none;
    	padding: 0.2rem;
    	float: right;
    	margin-top: 0;
    }

    input[type="submit"]:hover {
    	background-color: #effbff;
    	color : #418092;
    } 
}